/* Corrupt default styles. */

* {
  color: #333;
}

body {
  background-color: #eee;
  font-family: 'Arial', 'MS Trebuchet', sans-serif;
}

#top-background {
  position: fixed;
  top: 0;
  background-color: #eee;
  height: 100px;
  width: 100%;
  z-index: 50;
}

#header {
  position: fixed;
  top: 0;
  left: 135px;
  z-index: 100;
}

h1 {
  font-size: 4em;
  letter-spacing: 0.1em;
  margin: 0;
  text-align: center;
}

h1 > a {
  text-decoration: none;
}

h1 > a:hover {
  border-bottom: 1px dashed #888;
}

h2 {
  font-size: 2em;
  text-align: center;
}

p {
  line-height: 1.5em;
  text-align: center;
}

p:first-letter {
  border-bottom: 1px solid #888;
  font-family: 'Times', serif;
  font-size: 1.5em;
}

p > a {
  border-bottom: 1px dashed #888;
  font-weight: bold;
  padding-bottom: 1px;
  text-decoration: none;
}

p > a:hover {
  border-bottom: 1px solid #888;
}

#menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ddd;
  border-right: 1px solid #333;
  font-size: 25px;
  margin: 0.5em;
  padding: 0.5em;
  z-index: 100;

  opacity: .80;
  filter: alpha(opacity=80);
  -moz-opacity: 0.80;
}

#menu a {
  display: block;
  text-decoration: none;
}

#menu a:hover {
  border-bottom: 1px dashed #888;
}

#content {
  margin-top: 100px;
}

#footer {
  font-size: 0.75em;
  margin: 0 auto;
  text-align: center;
}
