defaults: &defaults
  name: Corrupt
  database: db/development.sqlite3

development:
  <<: *defaults

test:
  <<: *defaults
  database: db/test.sqlite3

production:
  <<: *defaults
  database: db/production.sqlite3
