!!!
%html
  %head
    %title= Corrupt.config['name']

    %link{:type => 'text/css', :rel => 'stylesheet', :href => '/stylesheets/application.css'}

  %body
    #top-background

    #header
      %h1
        %a{:href => '/'}= Corrupt.config['name']

        #menu
          %a{:href => '/'} main

    #content
      = yield

    #footer
      Powered by
      %a{:href => 'http://github.com/Oshuma/corrupt.rack/', :title => Corrupt.to_version}= Corrupt.to_version
