!!!
%html
  %head
    %title= Corrupt.config['name']

    %link{:type => 'text/css', :rel => 'stylesheet', :href => '/stylesheets/application.css'}

  %body
    %a{ :href => "http://github.com/oshuma" }
      %img{ :id => 'github-ribbon', :src => "http://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png", :alt => "Fork me on GitHub" }

    #top-background

    #header
      %h1
        %a{:href => '/'}= Corrupt.config['name']

        #menu
          %a{:href => '/'} main
          %a{:href => '/code'} code

    #content
      = yield
