!!!
%html
  %head
    %title= Corrupt.config['name']

    %link{:type => 'text/css', :rel => 'stylesheet', :href => '/stylesheets/application.css'}

  %body
    #top-background

    #header
      %h1
        %a{:href => '/'}= Corrupt.config['name']

        #menu
          %a{:href => '/'} main
          %p
          %a{:href => 'http://www.ruby-lang.org/', :title => 'Ruby Powered'}
            %img{:src => '/images/ruby-powered.png', :alt => 'Ruby Powered'}

    #content
      = yield

    #footer
      Your
      %a{:href => '#', :onclick => '; document.getElementById("details").style.display = "block"; return false;'}Application
      Footer

      %div{:style => 'display: none;', :id => 'details'}
        The application template is located here: <code>/app/views/layouts/application.haml</code>
