!!!
%html
  %head
    %title= Corrupt.config['name']

    %style{ :type => "text/css" }
      * {
      color: #333;
      }
      body {
      background-color: #eee;
      font-family: Arial, "MS Trebuchet", sans-serif;
      }
      h1 {
      font-size: 5em;
      letter-spacing: 0.1em;
      margin: 0;
      text-align: center;
      }
      h1 > a {
      text-decoration: none;
      }
      h1 > a:hover {
      border-bottom: 1px dashed #888;
      }
      h2 {
      font-size: 2em;
      text-align: center;
      }
      p {
      text-align: center;
      }
      p > a {
      border-bottom: 1px dashed #888;
      font-weight: bold;
      letter-spacing: 0.25em;
      padding-bottom: 3px;
      text-decoration: none;
      }
      p > a:hover {
      border-bottom: 1px solid #888;
      letter-spacing: 0.50em;
      }
      \#menu {
      position: absolute;
      top: 0;
      left: 0;
      border-right: 1px solid #333;
      font-size: 25px;
      margin: 0.5em;
      padding: 0.5em;
      }
      \#menu a {
      display: block;
      text-decoration: none;
      }
      \#menu a:hover {
      border-bottom: 1px dashed #888;
      }
      \#github-badge {
      margin: 2em auto;
      text-align: left !important;
      width: 250px;
      }
      \#github-badge .repo_listing {
      }
      \#content {
      margin-top: 2em;
      }
      \.article {
      border-bottom: 1px solid #888;
      margin: 1em;
      }
      \.article h3 {
      margin: 0.5em auto;
      }
      \.article span {
      font-style: italic;
      font-size: 0.75em;
      }
      \.article p {
      margin: 0.5em auto;
      }

  %body
    %a{ :href => "http://github.com/oshuma" }
      %img{ :src => "http://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png", :alt => "Fork me on GitHub", :style => "position: absolute; top: 0; right: 0; border: 0;" }

    %h1
      %a{:href => '/'}= Corrupt.config['name']

    #menu
      %a{:href => '/'} main
      %a{:href => '/code'} code

    #content
      = yield
